body {
  font-family: 'Roboto', sans-serif;
  color: #e8b30f;
  background-color: #000000;
}

p{
  font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
}

h2{
  font-size: 2em;
}

button:hover {
  background-color:#e8b30f;
  cursor: pointer;
}

#burger-title{
  height: 10em;
  overflow:hidden;
  text-align: center;
  margin-top:-0.5em;
}

#burger-title > img{
  z-index:0;
  position:relative;
  width:100vw;
}
#burger-title > h1{
  z-index: 5;
  position:relative;
  white-space:nowrap;
  font-size: 3em;
  margin-bottom: -3em;
}

section > button,form,h2,h3,#info-text,#select-text{
  margin: 20px 10px;
}

#select-section{
  border: 2px;
  border-style: dashed;
  margin-bottom:10px;
}

#info-section{
  background-color: #440b00;
  border-top: solid 1px;
}

table{
  width:90%;
}

#burger-wrapper{
  display: inline-grid;
  grid-gap: 0px;
  margin: 0 0.5em;
  width:100%;
  grid-template-columns: 33% 33% 33%;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

#your-order > p{
  margin-left: 20px;
}

.menu-item{
  vertical-align: top;
  border-right: 1px solid;
  border-top: 1px solid;
}

.menu-item > h3{
  text-align: center;
}

.menu-item > img{
  margin-left: auto;
	margin-right: auto;
	display: block;
}

ul{
  margin-left:30%
}
