body {
  font-family:"Comic Sans MS";
}

p{
  font-size: 1.2em;
}

h1,h2,h3,h4,h5,h6{
  font-family:'Spicy Rice', cursive;
  text-transform: uppercase;
}

button:hover {
  background-color:green;
  color:white;
  cursor: pointer;
}

#burger-title{
  height: 20vh;
  overflow:hidden;
  margin-bottom:10px;
  text-align: center;
}
#burger-title > img{
  opacity:0.3;
  width:100vw;
}
#burger-title > h1{
  position:absolute;
  margin-left:auto;
  margin-right:auto;
  left: 150px;
  padding-top:10px;
  font-size: 3em;
}

h2{
  font-size: 2em;
}

section > button,form,h2,h3,#info-text,#select-text{
  margin: 20px 10px;
}

#select-section{
  border: 3px;
  border-style: dashed;
  margin-bottom:10px;
}

#info-section{
  background-color: black;
  color: white;
  border: 3px;
  border-style: dotted;
}

table{
  width:90%;
}

.burger-wrapper{
  display: grid;
  grid-gap: 20px;
}

.burger{
  grid-row:1;
}

.burger > h3{
  text-align: center;
}

.burger > img{
  margin-left: auto;
	margin-right: auto;
	display: block;
}

ul{
  margin-left:20%
}
